.w3-bar {
    font-family: "Montserrat", sans-serif
}
.foot{
    height:30px;
    width:100%;
}
.repp{
    padding-top:10px;
    text-align:center;
}
.st{
    text-align:center;
}
.fa{
    padding:15px;
}
.leef{
    float:left;
}
.reef{
    float:right;
}